.DS_Store
lib_managed
project*/boot/*
project*/build/target/*
project*/plugins/project/*
project*/plugins/lib_managed/*
project*/plugins/src_managed/*
project*/plugins/target/*
target
log/*
*~
.#*
mongo-testdb/*
*.pyc
*.egg
.project
.classpath
.#*
#*
data/downloaded/*
data/supplemental/*
data/private/*
javarebel/*
jrebel/*
*.sublime-workspace
sbt-launch.jar
