<configuration debug="true">
    <timestamp key="bySecond" datePattern="yyyy-MM-dd-HH:mm:ss"/>
    <!--<appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
        <file>twofishes.${bySecond}.log</file>
        <encoder>
            <pattern>%-5relative %-5level %logger{35} - %msg%n</pattern>
            <!-- <pattern>%d{dd HH:mm:ss:SSS} [%thread] %-5level %logger{35} - %msg%n</pattern> -->
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
          <level>INFO</level>
          <onMatch>ACCEPT</onMatch>
          <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%-5relative %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.foursquare.twofishes.RevGeoWorker" level="info" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
